*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  line-height: 1.6;
  height: 100vh;
  background-image: url("./img/bg-desktop.svg"), linear-gradient(to top right, #674baf, #674baf);
  background-size: cover, cover;
  background-repeat: no-repeat, repeat;
  background-position: center, center; }
  @media only screen and (max-width: 50.625em) {
    body {
      background-image: url("./img/bg-mobile.svg"), linear-gradient(to top right, #674baf, #674baf); } }
  @media only screen and (max-width: 33.75em) {
    body {
      background-size: 100%, cover;
      background-repeat: no-repeat, repeat;
      background-position: right 0 top 0, center; } }
  body .header {
    padding: 7rem 10rem 1rem 10rem; }
    @media only screen and (max-width: 85.375em) {
      body .header {
        padding: 7rem 0 1rem 0; } }
    @media only screen and (max-width: 75em) {
      body .header {
        padding: 5rem 0 1rem 0; } }
    @media only screen and (max-width: 26.5625em) {
      body .header {
        padding: 4rem 1rem 1rem 1rem; } }
    body .header .nav {
      width: 125rem;
      margin: 0 auto 7rem auto; }
      @media only screen and (max-width: 85.375em) {
        body .header .nav {
          width: 110rem; } }
      @media only screen and (max-width: 64em) {
        body .header .nav {
          width: 100rem; } }
      @media only screen and (max-width: 56.25em) {
        body .header .nav {
          width: 90rem; } }
      @media only screen and (max-width: 50.625em) {
        body .header .nav {
          width: 60rem; } }
      @media only screen and (max-width: 33.75em) {
        body .header .nav {
          width: 40rem; } }
      @media only screen and (max-width: 26.5625em) {
        body .header .nav {
          width: 38rem;
          margin: 0 auto 5rem auto; } }
      body .header .nav .logo {
        width: 20rem; }
        @media only screen and (max-width: 33.75em) {
          body .header .nav .logo {
            width: 18rem; } }
    body .header .hero-container {
      width: 125rem;
      margin: 0 auto 0 auto;
      display: flex;
      gap: 5rem; }
      @media only screen and (max-width: 85.375em) {
        body .header .hero-container {
          width: 110rem; } }
      @media only screen and (max-width: 64em) {
        body .header .hero-container {
          width: 100rem; } }
      @media only screen and (max-width: 56.25em) {
        body .header .hero-container {
          width: 90rem;
          gap: 3rem; } }
      @media only screen and (max-width: 50.625em) {
        body .header .hero-container {
          width: 60rem;
          flex-direction: column;
          align-items: center;
          margin-bottom: 2rem; } }
      @media only screen and (max-width: 33.75em) {
        body .header .hero-container {
          width: 40rem;
          margin-bottom: 5rem; } }
      @media only screen and (max-width: 26.5625em) {
        body .header .hero-container {
          width: 38rem;
          gap: 6rem; } }
      body .header .hero-container .hero-img {
        width: 60%; }
        @media only screen and (max-width: 50.625em) {
          body .header .hero-container .hero-img {
            width: 100%; } }
        body .header .hero-container .hero-img .mockup-img {
          width: 100%; }
      body .header .hero-container .hero-content {
        width: 40%;
        margin-top: 5rem; }
        @media only screen and (max-width: 64em) {
          body .header .hero-container .hero-content {
            margin-top: 2rem; } }
        @media only screen and (max-width: 56.25em) {
          body .header .hero-container .hero-content {
            margin-top: 0; } }
        @media only screen and (max-width: 50.625em) {
          body .header .hero-container .hero-content {
            width: 70%;
            margin-bottom: 2rem;
            display: flex;
            flex-direction: column;
            align-items: center; } }
        @media only screen and (max-width: 33.75em) {
          body .header .hero-container .hero-content {
            width: 100%; } }
        body .header .hero-container .hero-content .heading-1 {
          font-size: 3.8rem;
          font-weight: 600;
          line-height: 1.4;
          color: #fff;
          margin-bottom: 2rem; }
          @media only screen and (max-width: 50.625em) {
            body .header .hero-container .hero-content .heading-1 {
              text-align: center; } }
          @media only screen and (max-width: 33.75em) {
            body .header .hero-container .hero-content .heading-1 {
              font-size: 3.2rem; } }
        body .header .hero-container .hero-content .description {
          font-size: 1.6rem;
          color: rgba(255, 255, 255, 0.8);
          margin-bottom: 3rem; }
          @media only screen and (max-width: 50.625em) {
            body .header .hero-container .hero-content .description {
              text-align: center; } }
          @media only screen and (max-width: 33.75em) {
            body .header .hero-container .hero-content .description {
              font-size: 1.8rem; } }
          @media only screen and (max-width: 26.5625em) {
            body .header .hero-container .hero-content .description {
              width: 97%; } }
        body .header .hero-container .hero-content .btn {
          font-family: "Open Sans", sans-serif;
          font-size: 1.8rem;
          font-weight: 400;
          border: none;
          cursor: pointer;
          background-color: #fff;
          color: #674baf;
          padding: 1.5rem 6rem 1.5rem 6rem;
          border-radius: 50px;
          box-shadow: 0 0.7rem 1rem rgba(0, 0, 0, 0.3);
          transition: all 0.3s; }
          @media only screen and (max-width: 64em) {
            body .header .hero-container .hero-content .btn {
              padding: 1.5rem 5rem 1.5rem 5rem; } }
          @media only screen and (max-width: 56.25em) {
            body .header .hero-container .hero-content .btn {
              padding: 1rem 4rem 1rem 4rem; } }
          @media only screen and (max-width: 50.625em) {
            body .header .hero-container .hero-content .btn {
              padding: 1rem 6rem 1rem 6rem; } }
          @media only screen and (max-width: 33.75em) {
            body .header .hero-container .hero-content .btn {
              padding: 1.5rem 9rem 1.5rem 9rem; } }
        body .header .hero-container .hero-content .btn:hover {
          color: #fff;
          background-color: #e882e8; }
  body .footer {
    margin-right: 20rem;
    display: flex;
    justify-content: flex-end;
    gap: 2rem; }
    @media only screen and (max-width: 90em) {
      body .footer {
        margin-right: 8rem; } }
    @media only screen and (max-width: 64em) {
      body .footer {
        margin-right: 3rem; } }
    @media only screen and (max-width: 50.625em) {
      body .footer {
        margin-right: 0;
        justify-content: center; } }
    body .footer .icon {
      display: inline-block;
      color: #fff;
      width: 3.5rem;
      height: 3.5rem;
      fill: currentColor;
      border: 1px solid #fff;
      border-radius: 50%;
      padding: 0.8rem;
      cursor: pointer;
      transition: all 0.3s; }
    body .footer .icon:hover {
      border: 1px solid #e882e8;
      color: #e882e8; }
