// COLORS
$color-primary-desaturated-red: #ce9797;
$color-primary-soft-red: #f96262;

$color-neutral-dark-gray-red: #413a3a;

// Gradients
// - Linear, 135deg, from hsl(0, 0%, 100%), to hsl(0, 100%, 98%)
// - Linear, 135deg, from hsl(0, 80%, 86%), to hsl(0, 74%, 74%)

// BREAKPOINTS
$bp-largest: 100em; // 1600px
$bp-large: 90em; // 1440px
$bp-large-2: 80em; // 1280px
$bp-medium: 64em; // 1024px
$bp-medium-2: 61.875em; // 990px
$bp-medium-3: 55.625em; // 890px
$bp-small-1: 44.375em; // 710px
$bp-small-2: 33.75em; // 540px
$bp-smallest: 27.5em; // 440px

// GENERAL SETTINGS
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1rem = 10px

  @media only screen and (max-width: $bp-medium) {
    font-size: 56.25%; // 1rem = 9px
  }
}

body {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.6;
  overflow: hidden;

  .main {
    height: 100vh;
    width: 100vw;
    background-image: url("./img/bg-pattern-desktop.svg"),
      linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
    background-repeat: no-repeat, no-repeat;
    background-size: 70%, cover;
    display: grid;
    grid-template-columns: 60vw 40vw;
    grid-template-rows: 20% 40% 40%;

    @media only screen and (max-width: $bp-large-2) {
      background-size: 90%, cover;
    }

    @media only screen and (max-width: $bp-medium) {
      grid-template-rows: 25% 40% 35%;
    }

    @media only screen and (max-width: $bp-medium-2) {
      grid-template-columns: 1fr;
      grid-template-rows: 15% 30% 55%;
      background-size: cover, cover;
    }

    @media only screen and (max-width: $bp-small-1) {
      background: linear-gradient(180deg, #ffffff, #f8bfbf15);
      background-size: cover;
      background-repeat: no-repeat;
    }

    @media only screen and (max-width: $bp-small-2) {
      grid-template-rows: 10% 30% 60%;
    }

    .nav {
      padding: 0 30rem 0 20rem;
      margin-top: 6.5rem;

      @media only screen and (max-width: $bp-largest) {
        padding: 0 25rem 0 18rem;
      }

      @media only screen and (max-width: $bp-large-2) {
        padding: 0 15rem 0 15rem;
      }

      @media only screen and (max-width: $bp-medium) {
        padding: 0 10rem 0 10rem;
      }

      @media only screen and (max-width: $bp-medium-2) {
        margin-top: 5rem;
      }

      @media only screen and (max-width: $bp-small-1) {
        padding: 0;
        margin-top: 0;
        width: 70%;
        justify-self: center;
        align-self: center;
      }

      @media only screen and (max-width: $bp-small-2) {
        width: 80%;
      }

      .logo {
        @media only screen and (max-width: $bp-small-2) {
          width: 30%;
        }
      }
    }

    .heading-container {
      grid-column: 1;
      grid-row: 2 / span 2;
      padding: 0 30rem 0 20rem;

      @media only screen and (max-width: $bp-largest) {
        padding: 0 25rem 0 18rem;
      }

      @media only screen and (max-width: $bp-large-2) {
        padding: 0 15rem 0 15rem;
      }

      @media only screen and (max-width: $bp-medium) {
        padding: 0 10rem 0 10rem;
      }

      @media only screen and (max-width: $bp-medium-2) {
        grid-column: 1;
        grid-row: 3 / span 1;
        padding: 0 30rem 0 30rem;
      }

      @media only screen and (max-width: $bp-medium-3) {
        padding: 0 20rem 0 20rem;
      }

      @media only screen and (max-width: $bp-small-1) {
        padding: 0;
        width: 70%;
        justify-self: center;
      }

      @media only screen and (max-width: $bp-small-2) {
        width: 80%;
      }

      .heading-1 {
        font-size: 6.8rem;
        font-weight: 600;
        color: $color-neutral-dark-gray-red;
        text-transform: uppercase;
        letter-spacing: 1.4rem;
        line-height: 1;
        margin: 4rem 0 2.8rem 0;

        @media only screen and (max-width: $bp-medium-2) {
          text-align: center;
        }

        @media only screen and (max-width: $bp-medium-3) {
          margin: 5rem 0 2.8rem 0;
        }

        @media only screen and (max-width: $bp-small-2) {
          font-size: 5.4rem;
          margin: 6rem 0 1.5rem 0;
        }

        @media only screen and (max-width: $bp-smallest) {
          font-size: 5rem;
        }

        span {
          font-weight: 300;
          letter-spacing: 1.6rem;
          color: $color-primary-desaturated-red;
        }
      }

      .description {
        color: $color-primary-desaturated-red;
        line-height: 1.7;
        margin-bottom: 3rem;

        @media only screen and (max-width: $bp-medium-2) {
          text-align: center;
        }
      }

      .form {
        margin-bottom: 1rem;
        display: flex;
        position: relative;

        .email {
          width: 100%;
          font-family: inherit;
          font-size: inherit;
          color: $color-neutral-dark-gray-red;
          padding: 2rem 15rem 2rem 3rem;
          border-radius: 4rem;
          border: 1px solid
            rgba($color: $color-primary-desaturated-red, $alpha: 0.6);
          background: transparent;

          &::placeholder {
            font-size: 1.6rem;
            text-align: justify;
            color: rgba($color: $color-primary-desaturated-red, $alpha: 0.6);
          }

          &:focus {
            outline: none;

            &:invalid {
              border: 1px solid $color-primary-soft-red;
            }
          }

          &:not(:focus) {
            outline: none;
          }
        }

        .invalid-img {
          position: absolute;
          bottom: 1.7rem;
          right: 12rem;
          width: 2.4rem;
          height: 2.4rem;
          visibility: hidden;

          @media only screen and (max-width: $bp-small-2) {
            right: 10.6rem;
          }
        }

        .show {
          visibility: visible;
        }

        .btn {
          position: absolute;
          bottom: 0;
          right: -3px;
          border: none;
          padding: 1.8rem 4.5rem 1.8rem 4.5rem;
          border-radius: 4rem;
          box-shadow: 0 1rem 3rem
            rgba($color: $color-primary-soft-red, $alpha: 0.4);
          background: linear-gradient(135deg, #f8bfbf, #ee8c8c);
          cursor: pointer;
          transition: transform 0.3s;

          @media only screen and (max-width: $bp-medium) {
            padding: 1.6rem 4.2rem 1.7rem 4.2rem;
          }

          @media only screen and (max-width: $bp-small-2) {
            padding: 1.6rem 3.5rem 1.7rem 3.5rem;
          }

          span {
            display: none;
          }
        }

        .btn:hover {
          transform: scale(1.05);
          box-shadow: 0 1rem 2rem rgba($color: #9b3c3c, $alpha: 0.4);
          background: rgba(#f8bfbf, $alpha: 1);
        }
      }

      .invalid-phrase {
        margin-left: 3rem;
        font-size: 1.4rem;
        color: $color-primary-soft-red;
        visibility: hidden;
      }

      .show {
        visibility: visible;
      }
    }

    .img-container {
      grid-column: 2;
      grid-row: 1 / span 3;

      @media only screen and (max-width: $bp-medium-2) {
        grid-column: 1;
        grid-row: 2 / span 1;
      }

      .hero-img-desktop {
        display: block;
        height: 100%;
        width: 100%;

        @media only screen and (max-width: $bp-small-2) {
          display: none;
        }
      }

      .hero-img-mobile {
        display: none;
        height: 100%;
        width: 100%;

        @media only screen and (max-width: $bp-small-2) {
          display: block;
        }
      }
    }
  }
}
