*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 64em) {
    html {
      font-size: 56.25%; } }

body {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.6;
  overflow: hidden; }
  body .main {
    height: 100vh;
    width: 100vw;
    background-image: url("./img/bg-pattern-desktop.svg"), linear-gradient(135deg, white, #fff5f5);
    background-repeat: no-repeat, no-repeat;
    background-size: 70%, cover;
    display: grid;
    grid-template-columns: 60vw 40vw;
    grid-template-rows: 20% 40% 40%; }
    @media only screen and (max-width: 80em) {
      body .main {
        background-size: 90%, cover; } }
    @media only screen and (max-width: 64em) {
      body .main {
        grid-template-rows: 25% 40% 35%; } }
    @media only screen and (max-width: 61.875em) {
      body .main {
        grid-template-columns: 1fr;
        grid-template-rows: 15% 30% 55%;
        background-size: cover, cover; } }
    @media only screen and (max-width: 44.375em) {
      body .main {
        background: linear-gradient(180deg, #ffffff, #f8bfbf15);
        background-size: cover;
        background-repeat: no-repeat; } }
    @media only screen and (max-width: 33.75em) {
      body .main {
        grid-template-rows: 10% 30% 60%; } }
    body .main .nav {
      padding: 0 30rem 0 20rem;
      margin-top: 6.5rem; }
      @media only screen and (max-width: 100em) {
        body .main .nav {
          padding: 0 25rem 0 18rem; } }
      @media only screen and (max-width: 80em) {
        body .main .nav {
          padding: 0 15rem 0 15rem; } }
      @media only screen and (max-width: 64em) {
        body .main .nav {
          padding: 0 10rem 0 10rem; } }
      @media only screen and (max-width: 61.875em) {
        body .main .nav {
          margin-top: 5rem; } }
      @media only screen and (max-width: 44.375em) {
        body .main .nav {
          padding: 0;
          margin-top: 0;
          width: 70%;
          justify-self: center;
          align-self: center; } }
      @media only screen and (max-width: 33.75em) {
        body .main .nav {
          width: 80%; } }
      @media only screen and (max-width: 33.75em) {
        body .main .nav .logo {
          width: 30%; } }
    body .main .heading-container {
      grid-column: 1;
      grid-row: 2 / span 2;
      padding: 0 30rem 0 20rem; }
      @media only screen and (max-width: 100em) {
        body .main .heading-container {
          padding: 0 25rem 0 18rem; } }
      @media only screen and (max-width: 80em) {
        body .main .heading-container {
          padding: 0 15rem 0 15rem; } }
      @media only screen and (max-width: 64em) {
        body .main .heading-container {
          padding: 0 10rem 0 10rem; } }
      @media only screen and (max-width: 61.875em) {
        body .main .heading-container {
          grid-column: 1;
          grid-row: 3 / span 1;
          padding: 0 30rem 0 30rem; } }
      @media only screen and (max-width: 55.625em) {
        body .main .heading-container {
          padding: 0 20rem 0 20rem; } }
      @media only screen and (max-width: 44.375em) {
        body .main .heading-container {
          padding: 0;
          width: 70%;
          justify-self: center; } }
      @media only screen and (max-width: 33.75em) {
        body .main .heading-container {
          width: 80%; } }
      body .main .heading-container .heading-1 {
        font-size: 6.8rem;
        font-weight: 600;
        color: #413a3a;
        text-transform: uppercase;
        letter-spacing: 1.4rem;
        line-height: 1;
        margin: 4rem 0 2.8rem 0; }
        @media only screen and (max-width: 61.875em) {
          body .main .heading-container .heading-1 {
            text-align: center; } }
        @media only screen and (max-width: 55.625em) {
          body .main .heading-container .heading-1 {
            margin: 5rem 0 2.8rem 0; } }
        @media only screen and (max-width: 33.75em) {
          body .main .heading-container .heading-1 {
            font-size: 5.4rem;
            margin: 6rem 0 1.5rem 0; } }
        @media only screen and (max-width: 27.5em) {
          body .main .heading-container .heading-1 {
            font-size: 5rem; } }
        body .main .heading-container .heading-1 span {
          font-weight: 300;
          letter-spacing: 1.6rem;
          color: #ce9797; }
      body .main .heading-container .description {
        color: #ce9797;
        line-height: 1.7;
        margin-bottom: 3rem; }
        @media only screen and (max-width: 61.875em) {
          body .main .heading-container .description {
            text-align: center; } }
      body .main .heading-container .form {
        margin-bottom: 1rem;
        display: flex;
        position: relative; }
        body .main .heading-container .form .email {
          width: 100%;
          font-family: inherit;
          font-size: inherit;
          color: #413a3a;
          padding: 2rem 15rem 2rem 3rem;
          border-radius: 4rem;
          border: 1px solid rgba(206, 151, 151, 0.6);
          background: transparent; }
          body .main .heading-container .form .email::placeholder {
            font-size: 1.6rem;
            text-align: justify;
            color: rgba(206, 151, 151, 0.6); }
          body .main .heading-container .form .email:focus {
            outline: none; }
            body .main .heading-container .form .email:focus:invalid {
              border: 1px solid #f96262; }
          body .main .heading-container .form .email:not(:focus) {
            outline: none; }
        body .main .heading-container .form .invalid-img {
          position: absolute;
          bottom: 1.7rem;
          right: 12rem;
          width: 2.4rem;
          height: 2.4rem;
          visibility: hidden; }
          @media only screen and (max-width: 33.75em) {
            body .main .heading-container .form .invalid-img {
              right: 10.6rem; } }
        body .main .heading-container .form .show {
          visibility: visible; }
        body .main .heading-container .form .btn {
          position: absolute;
          bottom: 0;
          right: -3px;
          border: none;
          padding: 1.8rem 4.5rem 1.8rem 4.5rem;
          border-radius: 4rem;
          box-shadow: 0 1rem 3rem rgba(249, 98, 98, 0.4);
          background: linear-gradient(135deg, #f8bfbf, #ee8c8c);
          cursor: pointer;
          transition: transform 0.3s; }
          @media only screen and (max-width: 64em) {
            body .main .heading-container .form .btn {
              padding: 1.6rem 4.2rem 1.7rem 4.2rem; } }
          @media only screen and (max-width: 33.75em) {
            body .main .heading-container .form .btn {
              padding: 1.6rem 3.5rem 1.7rem 3.5rem; } }
          body .main .heading-container .form .btn span {
            display: none; }
        body .main .heading-container .form .btn:hover {
          transform: scale(1.05);
          box-shadow: 0 1rem 2rem rgba(155, 60, 60, 0.4);
          background: #f8bfbf; }
      body .main .heading-container .invalid-phrase {
        margin-left: 3rem;
        font-size: 1.4rem;
        color: #f96262;
        visibility: hidden; }
      body .main .heading-container .show {
        visibility: visible; }
    body .main .img-container {
      grid-column: 2;
      grid-row: 1 / span 3; }
      @media only screen and (max-width: 61.875em) {
        body .main .img-container {
          grid-column: 1;
          grid-row: 2 / span 1; } }
      body .main .img-container .hero-img-desktop {
        display: block;
        height: 100%;
        width: 100%; }
        @media only screen and (max-width: 33.75em) {
          body .main .img-container .hero-img-desktop {
            display: none; } }
      body .main .img-container .hero-img-mobile {
        display: none;
        height: 100%;
        width: 100%; }
        @media only screen and (max-width: 33.75em) {
          body .main .img-container .hero-img-mobile {
            display: block; } }
